body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.emergency {
    background-color: #FFA500;
    color: black;
}
.regular {
    background-color: green;
    color: black;
}
.stop {
    background-color: darkred;
    color: white;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
}
button:hover {
    opacity: 0.9;
}